{% extends "../main/base.html" %}
{% load bootstrap4 %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <h1 class="display-4">Login</h1>
    <hr/>


    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    {% bootstrap_field form.username %}
    {% bootstrap_field  form.password %}

    {% buttons %}
      <input class="btn btn-primary" type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    {% endbuttons %}


    </form>

    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>


  </div>
</div>
{% endblock %}
