{% extends "../main/base.html" %}
{% load bootstrap4 %}


{% block title %}Password change{% endblock %}

{% block content %}


<div class="row">
  <div class="col-md-12">
    <h1 class="display-4">Password change</h1>
    <hr/>
    <form action="" method="post">{% csrf_token %}
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            {% bootstrap_form form layout='horizontal' %}
        <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
    </form>
  </div>
</div>

{% endblock %}
