{% extends '../main/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %} 

<div class="row">
  <div class="col-md-12">
    {% if view.name == "create" %}
      <h1 class="display-4">Sign up</h1>
    {% else %}
      <h1 class="display-4">Edit profile</h1>
    {% endif %}
    <hr/>
    <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons %}
          <button value="save" type="submit" class="btn btn-primary">Submit</button>
      {% endbuttons %}
    </form>
    {% if view.name == "update" %}
      <p><a href="{% url 'password_reset' %}">reset password</a></p>
    {% endif %}
  </div>
</div>
<!-- add password change link but have to know if its signup or edit-->


{% endblock %}
