{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}"><i class="material-icons logo-icon">home</i>House2Share</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {% url 'index' as url %}{% if request.path == url %}active{% endif %}" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% url 'house-list' as url %}{% if request.path == url %}active{% endif %}" href="{% url 'house-list' %}">House List</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input id="search_form" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="material-icons">search</i>Search</button>
      </form>

      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">person</i>Signed in as {{ request.user.username }}</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{% url 'user-update' user.username %}"><i class="material-icons">mode_edit</i>Edit profile</a>
            <a class="dropdown-item" href="{% url 'profile' user.username %}"><i class="material-icons">person</i>My profile</a>
            <a class="dropdown-item" href="{% url 'user-house-list' user.username %}"><i class="material-icons">view_list</i>My Houses</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}?next={{request.path}}">Logout<i class="material-icons" id="logout_icon">power_settings_new</i></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}"><i class="material-icons">assignment</i>Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}"><i class="material-icons">person_outline</i>Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <main class="container">
     {% block content %} 
    {% endblock %}

    {% block pagination %}
      {% if is_paginated %}
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next</a></li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    {% endblock %}
  </main>


  <footer class="footer">
    <div class="container">
      <span class="text-muted">© HE-Arc 2018</span>
    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
