{% extends 'main/base.html' %}
{% load house_tags %}

{% block title %}Houses List - Home2Share{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1 class="display-4">{% if view.name == 'profile-house-list' %}Your houses{% else %}All the houses{% endif %}</h1>
      <p class="lead text-muted">{% if view.name == 'profile-house-list' %}Houses that are yours{% else %}A list of our magnificent houses to share.{% endif %}</p>

      <hr/>
      {% if view.name == 'profile-house-list' %}
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <a href="{% url 'house-new' user.username %}" class="btn btn-success btn-sm"><i class="material-icons">add</i>Add a new house</a>
        </div>
  		  {% show_house_list house_list request.user.username multiline=True user_buttons=True%}
      {% else %}
  			{% show_house_list house_list request.user.username multiline=True user_buttons=False%}
      {% endif %}

  </div>
</div>


{% endblock %}
